body {
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
}

.carousel {
    position: relative;
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.slide {
    display: none;
    position: relative;
}

.slide img {
    width: 100%;
    display: block;
}

.caption {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
}

.active {
    display: block;
}
.footer {
    background-color: #d9d9d9;
    color: #030303;
    padding: 40px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.contact-form, .contact-info {
    width: 45%;
}

.contact-form h2, .contact-info h2 {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.contact-form button {
    padding: 10px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #777;
}

.contact-info p {
    margin: 10px 0;
}

.contact-info a {
    color: #ffab40;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.backgroundDiv{
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/021/514/257/small/fog-smoke-design-alpha-free-png.png'); /* Remplacez par le chemin de votre image */
    background-size: cover;
    background-position: center;
}